<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeleteBuildManifest</key>
	<false/>
	<key>DownloadUrl</key>
	<string>http://appldnld.apple.com/iOS7.1/031-4478.20140310.XDdib/AppleTV2,1_6.1_11D169b_Restore.ipsw</string>
	<key>Filename</key>
	<string>AppleTV2,1_6.1_11D169b_Restore</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4107-005.dmg</string>
			<key>IV</key>
			<string>1f8556f7ba1f29de76223ce6f2842fd6</string>
			<key>Key</key>
			<string>12648e9cb3a4d997c11e2f1a43d0bdebb08b74dbca43d850d20216ef980c2dc0</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f109d9fd7de19989c4b6286cbc16adcf</string>
			<key>Key</key>
			<string>d3b529ce8e183f3803d58e46affd1b77ad9f1f45bacc3b9860777c1e779e8f09</string>
			<key>Patch</key>
			<string>iBEC.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5577451d08a7f8288a4f7826af5ff818</string>
			<key>Key</key>
			<string>8019fbc105df35de2b8bc199484230141ba1a4e8d0c363b8d725f4e661410f4e</string>
			<key>Patch</key>
			<string>iBSS.k66ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
		<key>kernelcache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k66</string>
			<key>IV</key>
			<string>af5fe6482319bf70ba81ba02a47dd1bb</string>
			<key>Key</key>
			<string>65c6859bc511a60b4c3ed5e911e557baf02952caa1c0d17bb355d3b13b284b66</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<string>8</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>AppleTV2,1_6.1_11D169b</string>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RestoreRamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RootFilesystem</key>
	<string>058-4270-004.dmg</string>
	<key>RootFilesystemKey</key>
	<string>c649f7f18515f2d6643aba60e6f549ed26a5a36423b0a2cb27c55a6f45fda27c776423e5</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D169b.K66OS</string>
	<key>RootFilesystemSize</key>
	<string>1024</string>
	<key>SHA1</key>
	<string>db425818155c27df710547329c6bcdd3a7f78c1e</string>
	<key>platform</key>
	<string>3</string>
	<key>subplatform</key>
	<string>10</string>
</dict>
</plist>
